<footer class="footer">
    <div class="footer-header">
        <a href="#" class="logo">
            <i class="fas fa-shoe-prints"></i>
        </a>
        <div>
            <h1 class="main-name">Snaky Sneakers</h1>
            <p class="sub-name">Sneaker reseller</p>
        </div>
    </div>
    <div class="footer-social-media">
        <ul class="social-media">
            <li class="social-media-item">
                <a href="{{ socialeMedia.facebookUrl }}" target="_blank" class="social-media-link">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="social-media-item">
                <a href="" target="_blank" class="social-media-link">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="social-media-item">
                <a href="#" class="social-media-link">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li class="social-media-item">
                <a href="#" class="social-media-link">
                    <i class="fab fa-snapchat"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <p class="footer-copyright-paragraph">&copy; Copyright. Snaky Sneakers. All rights reserved</p>
    </div>
</footer>